h1{
    text-align: center;
    font-family: cursive;
    font-size: 90px;
    color: red;
    background-color: lawngreen;
}

h2{
    color: red;
    font-family: cursive;
    font-size: 75px;
    text-align: center;
    
}
h3{
    color: red;
    font-family: cursive;
    font-size: 75px;
    text-align: center;
    
}
h4{
    color: red;
    font-family: cursive;
    font-size: 75px;
    text-align: center;
    
}

